@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


:root {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	background-color: #000000;
}

.App {
	width: 375px;
	border: 2px solid blue;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: hsl(240, 78%, 98%);
	background-image: url(/images/bg-top.svg);
	background-position: 190px -50px;
	background-repeat: no-repeat;
}

.Header-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px 0px 70px;
}

.Header-title {
	color: hsl(233, 13%, 49%);
}

.toggle-container {
	display: flex;
}

.toggle-h2 {
	color: hsl(234, 14%, 74%);
	font-size: 15px;
	margin-top: 16px;
}

.slider-container {
	margin: 10px 17px 0px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  input[type=checkbox] {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 16px;
	background-color: #2196F3;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 16px;
  }
  
  input[type=checkbox]:checked + .slider {
	background-color: #2196F3;
  }
  
  input[type=checkbox]:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input[type=checkbox]:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
.Card {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
	background-color: white;
	border-radius: 8px;
}

.Card-title {
	font-size: 1.1em;
	color: hsl(233, 13%, 49%);
	margin: 30px 0px 20px;
}

.Card-price {
	color: #55586B;
	font-size: 3.5em;
	margin: 0px 0px 20px;
}

.Card-details-container {
	width: 80%;
	text-align: center;
}

.Card-details-container p {
	color: hsl(233, 13%, 49%);
	font-size: 0.9em;
}

.Card-details-container hr {
	color: hsl(240, 78%, 98%);
	opacity: 50%;
}

.learn-more-h3 {
	background-image: linear-gradient(
	hsl(236, 72%, 79%),
	hsl(237, 63%, 64%)
	);
	font-size: 0.8em;
	color: white;
	letter-spacing: 1.5px;
	padding: 10px;
	margin: 30px 0px;
	border-radius: 6px;
}

.Card-2 {
	background-image: linear-gradient(
	hsl(236, 72%, 79%),
	hsl(237, 63%, 64%)
	);
}

.Card-2 h2,
.Card-2 p {
	color: white;
}

.Card-2-learn-more-h3 {
	background-image: none;
	background-color: white;
	color: hsl(236, 72%, 79%);
}

.learn-more-h3:hover {
	background-image: none;
	background-color: white;
	color: hsl(236, 72%, 79%);
	border: 1px solid hsl(236, 72%, 79%);
	cursor: pointer;
}

.Card-2-learn-more-h3:hover {
	background-color: hsl(237, 63%, 64%);
	color: white;
}