@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* background-image: linear-gradient(
	hsl(236, 72%, 79%),
	hsl(237, 63%, 64%)
	); */

:root {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	background-color: #F7F7FF;
}

.App {
	width: 375px;
}

.Header-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px 0px 70px;
}

.Header-title {
	color: hsl(233, 13%, 49%);
}

.toggle-container {
	display: flex;
}

.toggle-h2 {
	color: hsl(234, 14%, 74%);
	font-size: 15px;
	margin-top: 16px;
}

.slider-container {
	margin: 10px 17px 0px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  input[type=checkbox] {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 16px;
	background-color: #2196F3;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 16px;
  }
  
  input[type=checkbox]:checked + .slider {
	background-color: #2196F3;
  }
  
  input[type=checkbox]:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input[type=checkbox]:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  